.services{
          width: 80%;
          margin: 100px auto 0;
          display: flex;
          justify-content: space-between;
      }
      
      .service-items{
          width: 47%;
      }
      .service-items h2{
      color: #000;
      text-align: right;
      font-family: Source Sans Pro;
      font-size: 48px;
      font-style: normal;
      font-weight: 900;
      line-height: 56px;
      }
      
      
      span {
          
         color: #FFC700;
      }
      
      .service-items h3{
      color: #FFF;
      font-family: Source Sans Pro;
      font-size: 34px;
      font-style: normal;
      font-weight: 900;
      line-height: 51px; 
      }
      
      .service-items p{
      color: #FFF;
      font-family: Sintony;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; 
      }
      
      .service-box{
          background-color: black;
          color: white;
          padding: 40px 40px 40px 100px; 
          margin-top: 80px;
          position: relative;
      }
      .service-box2{
          background-color: black;
          color: white;
          padding: 40px 100px 40px 40px; 
          margin-top: 80px;
          position: relative;
      }
      
      .icon-box{
          background-color:#FFC700;
          width: 122px;
          height: 122px;
          border-radius: 100%;  
          display: flex;
          justify-content: center;
          align-items: center;  
      }
      
      
      .icon-box img{
         
          width: 64px;
          height: 64px;
          padding: 4px 4px 3px 4px;
      }
      
      .icon-1{ 
       position: absolute;
       top: 15%;
       left: -10%;
      }
      .icon-2{ 
       position: absolute;
       top: 15%;
       right: -10%;
      }