.gallery{
          display: flex;
          justify-content: space-between;
          width: 85%;
          margin: 120px auto 0;
      }
      
      .gallery-items{
          width:49% ;
      }
      
      .gallery-items h3{
          color: #000;
          font-family: Source Sans Pro;
          font-size: 48px;
          font-style: normal;
          font-weight: 900;
          line-height: 54px; 
          margin: 0;
      }
      
      
      .gallery-items h6{
          color: #222A41;
          font-family: Sintony;
          font-size: 34px;
          font-style: normal;
          font-weight: 400;
          line-height: 51px; 
          margin: 20 0 20px 0;
         
      }
      .gallery-items p{
      color: #222A41;
      font-family: Sintony;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin: 0px 0px 100px 0px 
      }
      
      .gallery-items img{
      width: 543px;
      height: 500px;
      margin:20px ;
      }
      
      .img-1 {
       width: 448px;
      height: 500px;
      
      }
      
      .img-2 {
      width: 448px;
      max-height:306px ;
      
      }