.banner-main{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        
        .banner-items {
        
            width: 50%;
            height: 650px;
        }
        
        .left-side{
          background: #FFC700;
           display: flex;
           justify-content: center;
           align-items: center;
          
        }
        
        .text-box{
        
            width: 75%;
        }
        
        
        .banner-items h1 {
        color: #000;
        font-family: Source Sans Pro;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 60px; 
        }
        
        
        .banner-items p {
        color: #222A41;
        font-family: Sintony;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        }
        
        .banner-items button {
        width: 216px;
        height: 52px;
        color: #FFF;
        text-align: center;
        font-family: Source Sans Pro;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 160% */
        letter-spacing: 4.2px;
        text-transform: uppercase;
        background-color: black;
        
        }
        
        .banner-items button:hover{
            color: red;
             background-color: white;
        }
        
        .banner-items img {
         height: 650px;
         width: 100%;
        }